.authorName {
    /* margin-left: 2rem; */
    padding-left: 2rem;
    /* margin-bottom: 2rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* margin: 0; */
    font-size: 2rem;
    color: #5a4231;
    border-bottom: 1px solid #d4c9b7;
}

.authorWork {
    padding-left: 2rem;
    font-size: 1.5rem;
}